/*Dimensiones y estilos del logo de la barra de navegación*/
.navbar-logo {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 150px;
}

/*Color del fondo de la barra de navegación*/
nav {
    background-color: #660066;
}

footer a {
    color: #fff;
    text-decoration: none;
}
/*Margen de los links de la barra de navegación*/
.navbar-nav {
    margin-right: 150px;
}

/*Linea horizontal bajo los subtítulos*/
.title-hr {
    border-top: 5px solid #037037;
    width: 20%;
}

#trabajos {
    background-color: #660066;
}

/*Header*/
header {
    background-image: url("../img/bg_hero.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

.modal-btn {
    visibility: hidden;
}

.footer-titulo {
    
}

/*Título*/
h1 {
    font-size: 65px;
}

h2 {
    font-family: "Oswald", sans-serif;
}

/*Sub-Subtítulos de la sección "Acerca de mí"*/
h3 {
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    margin-bottom: 13px;

}

footer {
    background-color: #660066;
    padding: 40px auto;
}

/*Párrafos*/
p {
    font-family: "Open Sans", sans-serif;
}

/*Media Queries*/
@media screen and (max-width: 576px) {
    .navbar-logo {
        margin-left: 40px;
    }

    .card {
        margin-left: 17%;
    }

    .card button {
        margin: 5px auto;
    }

    .modal-btn {
        visibility: visible;
    }

    .hide-sm {
        visibility: collapse;
    }

    .card-body {
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
    }

    .footer-titulo {
        text-align: center;
        padding-bottom: 20px;
    }

}

